/*цвет основного текста #757575
 белый #FFFFFF
 вторичный цвет черный #212121
 акцент #2196F3
 вторичный цвет #AFB1B8
 вторичный цвет фона #AFB1B8
 цвет фона футера #2F303A
  */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-fon-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-fon-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* logo */

.logo {
  color: #000000;
}

.logo-text {
  color: var(--accent-color);
}

/* Site header */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact .us {
  color: var(--primary-text-color);
}

.contact .us:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Said bar */
.container .title {
  color: var(--primary-fon-color);
  background-color: teal; /* todo real background*/
}

.button {
  color: var(--primary-fon-color);
  background-color: var(--accent-color);
}

/* features */

.section-title {
  color: var(--title-text-color);
}

.features-list .title {
  color: var(--title-text-color);
}

/* specialization */

.specialization-list .text {
  color: var(--primary-fon-color);
  background-color: teal; /* todo real background*/
}

/* Our team */
.section team {
  background-color: #f5f4fa;
}

.team-list .title {
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
}

.footer-address {
  color: #ffffff;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link h3 {
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
}

.footer-slogan {
  color: rgba(255, 255, 255, 0.4);
}
